# Системные файлы
.DS_Store
Thumbs.db
registrations.db

# Настройки среды разработки и редакторов
.idea/
.vscode/
*.swp
*.swo

# Зависимости
node_modules/
venv/
env/

# Сборка и логи
build/
dist/
*.log

# Секретные файлы с паролями
.env
secret.txt
```

## Правила записи

* Название файла должно быть `.gitignore` (обязательно с точкой в начале и без расширения).
* Звездочка (`*`) заменяет любые символы.
* Слэш на конце (`/`) означает, что это папка.
* Знак `#` делает строку комментарием.
